<script>
import DipasButton from "../reusableComponents/DipasButton.vue";

export default {
  name: "DipasCookieBanner",
  components: {
    DipasButton
  },
  data () {
    return {
      bannerShown: false
    };
  },
  computed: {
    showBanner () {
      return !this.cookiesAccepted && !this.bannerShown;
    },
    cookiesAccepted () {
      return this.$store.state.cookiesAccepted;
    }
  },
  async mounted () {
    if (this.showBanner) {
      await this.$nextTick();

      this.$refs.DipasCookieBanner?.lastChild.lastChild.focus();
    }
  },
  methods: {
    acceptCookies () {
      this.setBannerShown(true);
      this.$store.dispatch("confirmCookies");
    },
    declineCookies () {
      this.setBannerShown(true);
    },
    setBannerShown (bannerShown) {
      this.bannerShown = bannerShown;
    },
    gotoToDataprivacyPage () {
      this.$router.push("/privacy");
    },
    catchFocus (item, e) {
      if (item === "tofirst" && !e.shiftKey) {
        this.$refs.DipasCookieBanner.firstChild.focus();
        e.preventDefault();
      }
      else if (item === "tolast" && e.shiftKey) {
        this.$refs.DipasCookieBanner.lastChild.lastChild.focus();
        e.preventDefault();
      }
    }
  }
};
</script>

<template>
  <div
    v-if="showBanner"
    id="DipasCookieBanner"
    ref="DipasCookieBanner"
    class="DipasCookieBanner"
    role="dialog"
    :aria-label="$t('Cookiebar.title')"
  >
    <div class="cookieBannerText">
      <p class="headline">
        {{ $t("Cookiebar.title") }}
      </p>

      <i18n-t
        keypath="Cookiebar.text.body"
        tag="p"
        for="Cookiebar.text.link"
        class="bodyText"
      >
        <a
          class="dataPrivacyLink"
          href="#"
          @click.prevent="gotoToDataprivacyPage"
          @keyup.enter.prevent="gotoToDataprivacyPage"
        >
          {{ $t('Cookiebar.text.link') }}
        </a>
      </i18n-t>
    </div>

    <div class="cookieBannerButtons">
      <DipasButton
        :label="$t('Cookiebar.declineButtonText')"
        class="rejectButton"
        @click="declineCookies"
      />

      <DipasButton
        :label="$t('Cookiebar.acceptButtonText')"
        class="acceptButton"
        @click="acceptCookies"
        @keydown.tab="catchFocus('tofirst', $event)"
      />
    </div>
  </div>
</template>

<style lang="scss">
div.DipasCookieBanner {
  position: fixed;
  left: 12.5rem;
  bottom: 0;
  z-index: 99999999999;
  max-width: 24.25rem;
  background-color: $color_primary_1;
  margin: 0;
  padding: 1rem;
  border-radius: 0.313rem;
  display: flex;
  flex-direction: column;

  * {
    color: $white;
  }

  button.DipasButton.closeButton {
    align-self: flex-end;
    padding: 0;

    span.icon {
      font-size: 1.5rem;
      color: $white;
      cursor: pointer;
    }
  }

  div.cookieBannerText {
    p.headline {
      color: $white;
      margin-bottom: 1rem;
    }

    p.bodyText {
      color: $white;

      a.dataPrivacyLink {
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
      }

      span.dataPrivacyLink:hover {
        text-decoration: underline;
      }
    }
  }

  div.cookieBannerButtons {
    display: flex;
    justify-content: space-between;

    button.rejectButton {
      background-color: $color_primary_1;
      box-shadow: none;
    }
  }

  &.isTablet {
    left: 2.313rem;
  }

  &.isMobile {
    left: 0;
    max-width: 100%;
    max-height: 15.75rem;

    div.cookieBannerText {
      p.bodyText {
        color: $white;

        span.dataPrivacyLink {
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
        }

        span.dataPrivacyLink:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
