<script>
import VueMultiselect from "vue-multiselect";
import FilterPill from "../reusableComponents/FilterPill.vue";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import {endOfMonth, endOfYear, startOfMonth, startOfYear, subMonths, subYears, format} from "date-fns";
import {de} from "date-fns/locale";
import FilterButton from "@/reusableComponents/FilterButton.vue";

const defaultOptionsSelected = {
  districts: [],
  topics: [],
  owners: [],
  dateStart: null,
  dateEnd: null
};

export default {
  name: "FilterElement",
  components: {
    FilterButton,
    FilterPill,
    VueMultiselect,
    VueDatePicker
  },
  data () {
    return {
      dates: [],
      isLoading: false,
      isDirty: false,
      optionsSelected: {...defaultOptionsSelected},
      presetRanges: [
        {
          label: this.translate("components.FilterElement.datepicker.thisMonth"),
          range: [startOfMonth(new Date()), endOfMonth(new Date())],
          slot: "preset-date-range-button"
        },
        {
          label: this.translate("components.FilterElement.datepicker.lastMonth"),
          range: [startOfMonth(subMonths(new Date(), 1)), endOfMonth(subMonths(new Date(), 1))],
          slot: "preset-date-range-button"
        },
        {
          label: this.translate("components.FilterElement.datepicker.thisYear"),
          range: [startOfYear(new Date()), endOfYear(new Date())],
          slot: "preset-date-range-button"
        },
        {
          label: this.translate("components.FilterElement.datepicker.lastYear"),
          range: [startOfYear(subYears(new Date(), 1)), endOfYear(subYears(new Date(), 1))],
          slot: "preset-date-range-button"
        }
      ],
      de: de
    };
  },
  computed: {
    options: function () {
      return this.$store.getters.multiFilterData;
    },
    optionsSelectedDates () {
      const dates = [];

      this.dates.forEach(date => {
        if (date) {
          dates.push({
            id: date,
            name: format(date, "dd.MM.yyyy")
          });
        }
      });

      return dates;
    },
    useMatomo () {
      return this.$store.getters.useMatomo;
    }
  },
  watch: {
    dates (value) {
      this.optionsSelected.dateStart = format(value[0], "yyyy-MM-dd");
      this.optionsSelected.dateEnd = format(value[1] || value[0], "yyyy-MM-dd");
    },
    options () {
      this.isLoading = false;
    },
    optionsSelected: {
      handler (value) {
        this.$store.commit("multiFilter", value);
        this.isDirty = JSON.stringify(this.optionsSelected) !== JSON.stringify(defaultOptionsSelected);
      },
      deep: true
    }
  },
  mounted () {
    this.isLoading = true;
  },
  methods: {
    translate (tid) {
      return this.$t(tid);
    },
    resetFilter () {
      this.optionsSelected = {...defaultOptionsSelected};
      this.dates.splice(0);
    },
    onPillRemoved (event, type) {
      this.optionsSelected[type].splice(this.optionsSelected[type].indexOf(event), 1);
    },
    onPillRemovedDates () {
      this.optionsSelected.dateStart = null;
      this.optionsSelected.dateEnd = null;
      this.dates.splice(0);
    },
    trackEvent (source) {
      if (this.useMatomo) {
        // eslint-disable-next-line
        window._paq.push(["trackEvent", "Filter settings", "Filter changed: " + source]);
      }
    }
  }
};
</script>

<template>
  <div class="FilterElement">
    <div class="filterSelectBox">
      <span class="icon-filter"></span>

      <!-- Districts -->
      <VueMultiselect
        v-model="optionsSelected['districts']"
        class="filterSelectDistricts"
        :options="options['districts']"
        :multiple="true"
        :close-on-select="true"
        :clear-on-select="false"
        :searchable="false"
        placeholder=""
        label="name"
        track-by="id"
        :preselect-first="false"
        deselect-label=""
        select-label=""
        selected-label=""
        :loading="isLoading"
        :disabled="isLoading"
        @select="trackEvent('Districts')"
      >
        <template v-slot:selection="properties">
          <FilterButton
            class="multiselect__single"
            icon="icon-map"
            :label="$store.getters.configurationData('translations.taxonomies.districts')"
            :count="properties.values.length"
          />
        </template>
      </VueMultiselect>

      <!-- Topics -->
      <VueMultiselect
        v-model="optionsSelected['topics']"
        class="filterSelectTopics"
        :options="options['topics']"
        :multiple="true"
        :close-on-select="true"
        :clear-on-select="false"
        :searchable="false"
        placeholder=""
        label="name"
        track-by="id"
        :preselect-first="false"
        deselect-label=""
        select-label=""
        selected-label=""
        :loading="isLoading"
        :disabled="isLoading"
        @select="trackEvent('Topics')"
      >
        <template v-slot:selection="properties">
          <FilterButton
            class="multiselect__single"
            icon="icon-people"
            :label="$store.getters.configurationData('translations.taxonomies.topics')"
            :count="properties.values.length"
          />
        </template>
      </VueMultiselect>

      <!-- Owners -->
      <VueMultiselect
        v-model="optionsSelected['owners']"
        class="filterSelectOwners"
        :options="options['owners']"
        :multiple="true"
        :close-on-select="true"
        :clear-on-select="false"
        :searchable="false"
        placeholder=""
        label="name"
        track-by="id"
        :preselect-first="false"
        deselect-label=""
        select-label=""
        selected-label=""
        :loading="isLoading"
        :disabled="isLoading"
        @select="trackEvent('Proceeding owners')"
      >
        <template v-slot:selection="properties">
          <FilterButton
            class="multiselect__single"
            icon="icon-people"
            :label="$store.getters.configurationData('translations.taxonomies.owners')"
            :count="properties.values.length"
          />
        </template>
      </VueMultiselect>

      <VueDatePicker
        v-model="dates"
        class="datepicker"
        range
        :preset-ranges="presetRanges"
        :format-locale="de"
        :enable-time-picker="false"
        auto-apply
        @range-end="trackEvent('Dates')"
      >
        <template v-slot:trigger>
          <FilterButton
            :asLink="true"
            class="clickable-text"
            icon="icon-calendar"
            :label="translate('components.FilterElement.dropdown.dates')"
            :count="dates.length ? 1 : null"
          />
        </template>
        <template #preset-date-range-button="{ label, range, presetDateRange }">
          <span
            role="button"
            tabindex="0"
            @click="presetDateRange(range)"
            @keydown.enter.prevent="presetDateRange(range)"
            @keydown.space.prevent="presetDateRange(range)"
          >{{ label }}</span>
        </template>
      </VueDatePicker>

      <a
        class="filter-reset-action"
        :class="isDirty ? 'filter-reset-action--is-dirty' : ''"
        href="#"
        :title="translate('components.FilterElement.resetFilters')"
        @click.prevent="resetFilter"
        @keyup.enter.prevent="resetFilter"
      >
        <span class="icon-filter_reset" />
      </a>
    </div>

    <div
      v-if="optionsSelected['districts'].length || optionsSelected['topics'].length || optionsSelected['owners'].length || dates.length"
      class="filterPillBox"
    >
      <span class="icon-segment"></span>

      <!-- Districts -->
      <template v-if="optionsSelected['districts'].length">
        <FilterPill
          v-for="option in optionsSelected['districts']"
          :key="option.id"
          class="filterPillDistricts"
          :option="option"
          @FilterPillFilterRemoved="onPillRemoved($event, 'districts')"
        />
      </template>

      <!-- Topics -->
      <template v-if="optionsSelected['topics'].length">
        <FilterPill
          v-for="option in optionsSelected['topics']"
          :key="option.id"
          class="filterPillTopics"
          :option="option"
          @FilterPillFilterRemoved="onPillRemoved($event, 'topics')"
        />
      </template>

      <!-- Owners -->
      <template v-if="optionsSelected['owners'].length">
        <FilterPill
          v-for="option in optionsSelected['owners']"
          :key="option.id"
          class="filterPillOwners"
          :option="option"
          @FilterPillFilterRemoved="onPillRemoved($event, 'owners')"
        />
      </template>

      <!-- Dates -->
      <template v-if="dates.length">
        <FilterPill
          class="filterPillDates"
          :option="{
            name: optionsSelectedDates[1] && optionsSelectedDates[0].name !== optionsSelectedDates[1].name
              ? `${optionsSelectedDates[0].name} - ${optionsSelectedDates[1].name}`
              : optionsSelectedDates[0].name
          }"
          @FilterPillFilterRemoved="onPillRemovedDates()"
        />
      </template>
    </div>
  </div>
</template>

<style lang="scss">
@import "../scss/_global.scss";
@import '~vue-multiselect/dist/vue-multiselect.css';


div.FilterElement {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span.icon {
    &-filter {
      font-size: 29px;
      color: $color_secondary_4;
      margin-top: -7px;
    }

    &-segment {
      font-size: 29px;
      color: $color_secondary_4;
    }
  }

  a.filter-reset-action {
    cursor: default;

    .icon-filter_reset {
      font-size: 29px;
      color: $color_secondary_4;
    }

    &.filter-reset-action--is-dirty {
      cursor: pointer;

      &:hover {
        background-color: $color_secondary_5;
      }

      .icon-filter_reset {
        font-size: 29px;
        color: $color_primary_1;
      }
    }
  }

  .filterSelectBox {

    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    /**
     * General styling for multiselect (VueMultiselect)
     */

    .multiselect {
      display: inline-block;
      min-width: 200px;
      width: fit-content;
      min-height: auto;
      cursor: pointer;

      &:focus-visible {
        .multiselect__tags {
          outline: 3px solid #005CA9;
        }
      }

      .multiselect__spinner {
        right: 13px;
        top: 3px;
        width: 22px;
        height: 22px;
      }

      .multiselect__tags {
        border-radius: 1rem;
        min-height: auto;
        padding: 1px 5px;
      }


      .multiselect__content-wrapper {
        width: auto;
        scrollbar-gutter: stable;
        margin-top: 0.5rem;
      }

      .multiselect__single {
        display: inline-flex;
        margin-bottom: 0;
        gap: 0.5rem;
        background: transparent;
        align-items: center;
      }

      .multiselect__single > span {
        font-weight: bold;
        width: auto;
        height: auto;
      }

      .multiselect__select {
        top: -4px;
      }

      &.multiselect--disabled {
        background-color: transparent;
        opacity: 1;

        .multiselect__select {
          background: transparent;
        }
      }

      .multiselect__option--selected > span {
        font-weight: bold;
      }

      .multiselect__placeholder {
        margin-bottom: 0;
      }

      .multiselect__option--highlight {
        background: $color_diagram_08;

        &.multiselect__option--selected {
          background: $color_primary_3;

          span {
            color: $white
          }
        }
      }

    }

    /**
     * Specific styling for each multiselect
     */

    .multiselect.filterSelectDistricts {

      .multiselect__tags {
        border: 2px solid var(--DipasColorsPrimary1);
      }

      .multiselect__single > span {
        color:  var(--DipasColorsPrimary1);
      }

      .multiselect__select::before {
        border-color:  var(--DipasColorsPrimary1) transparent transparent transparent;
      }

      .multiselect__spinner::before,
      .multiselect__spinner::after {
        border-color:  var(--DipasColorsPrimary1) transparent transparent;
      }

      .multiselect__content-wrapper {
        border: 1px solid $color_secondary_4;
      }

    }

    .multiselect.filterSelectTopics {

      .multiselect__tags {
        border: 2px solid  var(--DipasColorsPrimary1);
      }

      .multiselect__single > span {
        color:  var(--DipasColorsPrimary1);
      }

      .multiselect__select::before {
        border-color:  var(--DipasColorsPrimary1) transparent transparent transparent;
      }

      .multiselect__spinner::before,
      .multiselect__spinner::after {
        border-color:  var(--DipasColorsPrimary1) transparent transparent;
      }

      .multiselect__content-wrapper {
        border: 1px solid $color_secondary_4;
      }

    }

    .multiselect.filterSelectOwners {

      .multiselect__tags {
        border: 2px solid $color_primary_1;
      }

      .multiselect__single > span {
        color: $color_primary_1;
      }

      .multiselect__select::before {
        border-color: $color_primary_1 transparent transparent transparent;
      }

      .multiselect__spinner::before,
      .multiselect__spinner::after {
        border-color: $color_primary_1 transparent transparent;
      }

      .multiselect__content-wrapper {
        border: 1px solid $color_secondary_4;
      }
    }

    .datepicker {
      width: 200px;

      .clickable-text {
        border: 2px solid  var(--DipasColorsPrimary1);

        span {
          color:  var(--DipasColorsPrimary1);
        }

        .icon-calendar {
          color:  var(--DipasColorsPrimary1);
        }

      }

    }

  }

  /**
  * VueDatePicker
  */

  .dp__preset_ranges {
    .dp__preset_range  {
      SPAN {
        padding: 0.25rem;
      }
    }
  }

  /**
   * Filter pill box
   */

  .filterPillBox {

    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    /**
     * Specific styling for each pill
     */

    .filterPillDistricts {
      button {
        background-color:  var(--DipasColorsPrimary1);
      }
    }

    .filterPillTopics {
      button {
        background-color:  var(--DipasColorsPrimary1);
      }
    }

    .filterPillOwners {
      button {
        background-color:  var(--DipasColorsPrimary1);
      }
    }

    .filterPillDates {
      button {
        background-color:  var(--DipasColorsPrimary1);
      }
    }

  }

}

.FilterElementBox-xs .filterSelectBox .multiselect,
.FilterElementBox-xs .filterSelectBox .datepicker {
  width: 100%;
}

</style>
