<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>drupal/dipas/design/favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>drupal/dipas/design/styles.css"></link>
    <script type="application/javascript" src="<%= BASE_URL %>drupal/dipas/design/settings.js"></script>
    <script type="application/javascript" src="<%= BASE_URL %>drupal/dipas/tracking/navigator/settings.js"></script>
    <title>DIPAS navigator</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
