<script>
import colors from "../../../scss/colors.scss";
import Chart from "chart.js/auto";

export default {
  name: "ContributionStatisticsByYears",
  data () {
    // do not put this inside the return-statement (https://stackoverflow.com/a/68606394), 19.10.2022 Christa Becker
    this.drawnChart = null;

    return {
      switch: "contributions",
      displayType: "charts",
      chartOptions: {
        type: "bar",
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true,
              stacked: true
            },
            x: {
              stacked: true
            }
          },
          plugins: {
            legend: {
              display: false
            }
          }
        }
      }
    };
  },
  computed: {
    multiFilter () {
      return this.$store.getters.multiFilterState;
    },
    statisticalData () {
      return this.$store.getters.statisticalData("contribution") ?? {};
    },
    peakValue () {
      return Object.values(this.statisticalData).length
        ? Math.max(...Object.values(this.statisticalData))
        : 0;
    },
    yScaleTickStepSize () {
      if (this.peakValue < 10) {
        return 1;
      }
      else if (this.peakValue < 50) {
        return 5;
      }
      else if (this.peakValue < 150) {
        return 10;
      }
      else if (this.peakValue < 500) {
        return 50;
      }
      else if (this.peakValue < 1000) {
        return 100;
      }
      else if (this.peakValue < 2500) {
        return 250;
      }
      else if (this.peakValue < 7500) {
        return 500;
      }

      return Math.pow(10, this.peakValue.toString().length - 2);

    },
    yScaleHeight () {
      return this.peakValue > 0
        ? Math.ceil(this.peakValue / this.yScaleTickStepSize) * this.yScaleTickStepSize
        : 1;
    },
    contributionsByYears () {
      const data = [];

      if (!Object.keys(this.statisticalData).length) {
        data.push({x: 0, y: 0});
      }
      else {
        Object.keys(this.statisticalData).forEach((year) => {
          data.push({
            x: year,
            y: this.statisticalData[year]
          });
        });
      }

      return data;
    },
    formattedChartData () {
      return {
        options: {
          scales: {
            y: {
              ticks: {
                stepSize: this.yScaleTickStepSize
              }
            }
          }
        },
        data: {
          datasets: [
            {
              data: this.contributionsByYears,
              backgroundColor: colors.color_secondary_3,
              barThickness: 30,
              minBarLength: 1,
              showTooltip: true
            },
            {
              data: this.contributionsByYears.map(elem => this.yScaleHeight - elem.y),
              backgroundColor: "rgba(" + Object.values(this.$hex2rgb(colors.color_secondary_3)).join(", ") + ", 0.15)",
              barThickness: 30,
              showTooltip: false
            }
          ]
        }
      };
    }
  },
  watch: {
    formattedChartData: {
      deep: true,
      handler () {
        if (this.displayType === "charts") {
          this.initChart();
        }
      }
    },
    multiFilter: {
      handler () {
        this.loadStatisticalData(true);
      },
      deep: true
    }
  },
  beforeMount () {
    this.loadStatisticalData();
  },
  methods: {
    loadStatisticalData (forceReload = false) {
      this.$store.dispatch(
        "statisticalData",
        {
          type: "contribution",
          forceReload
        }
      );
    },
    setDisplayType (type) {
      this.displayType = type;

      if (type === "charts") {
        this.initChart();
      }
    },
    initChart () {
      if (this.contributionsByYears.length) {
        if (this.drawnChart) {
          this.drawnChart.destroy();
          delete this.drawnChart;
        }

        this.drawnChart = new Chart(
          this.$refs.chart.getContext("2d"),
          JSON.parse(JSON.stringify(this.$mergeDeep(this.chartOptions, this.formattedChartData)))
        );
        this.drawnChart.options.plugins.tooltip.filter = function (context) {
          return context.dataset.showTooltip;
        };
        this.drawnChart.update("none");
      }
    },
    translate (tid) {
      return this.$t(tid);
    }
  }
};
</script>

<template>
  <section class="ContributionStatisticsByYears">
    <div>
      <canvas
        v-show="displayType === 'charts'"
        id="contribution_statistics"
        ref="chart"
        :alt="translate('components.ContributionStatistics.altTextContributions')"
      />

      <table v-show="displayType === 'tables'">
        <thead>
          <tr>
            <th id="yearname">
              Jahr
            </th>

            <th id="contributions">
              Beiträge
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(data) in contributionsByYears"
            :key="'row-' + data.x"
          >
            <td headers="yearname">
              {{ data.x }}
            </td>

            <td headers="yearproceeding">
              {{ data.y }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
