<script>
import colors from "../../../scss/colors.scss";
import Chart from "chart.js/auto";

export default {
  name: "ProceedingStatisticsProceedingsByYears",
  data () {
    // do not put this inside the return-statement (https://stackoverflow.com/a/68606394), 19.10.2022 Christa Becker
    this.drawnChart = null;
    return {
      displayType: "charts",
      chartOptions: {
        type: "line",
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 10
              }
            }
          },
          plugins: {
            legend: {
              display: false
            }
          },
          elements: {
            point: {
              radius: 2,
              hitRadius: 10,
              hoverRadius: 5,
              hoverBorderWidth: 2
            }
          }
        }
      }
    };
  },
  computed: {
    proceedingByYears () {
      return this.$store.getters.proceedingByYears;
    },
    formattedChartData () {
      return {
        labels: Object.keys(this.proceedingByYears),
        datasets: [{
          label: this.$t("components.ProceedingStatisticsProceedingsByYears.chart.pointTitle"),
          data: Object.values(this.proceedingByYears),
          fill: false,
          borderColor: colors.color_primary_3,
          tension: 0
        }]
      };
    }
  },
  watch: {
    formattedChartData: {
      deep: true,
      handler () {
        this.initChart();
      }
    }
  },
  mounted () {
    this.initChart();
  },
  methods: {
    initChart () {
      if (Object.keys(this.proceedingByYears).length) {
        if (this.drawnChart) {
          this.drawnChart.data = this.formattedChartData;
          this.drawnChart.update("none");
        }
        else {
          this.drawnChart = new Chart(
            this.$refs.chart.getContext("2d"),
            JSON.parse(JSON.stringify(Object.assign(this.chartOptions, {data: this.formattedChartData})))
          );
        }
      }
    },
    setDisplayType (type) {
      this.displayType = type;
    },
    translate (tid) {
      return this.$t(tid);
    }
  }
};
</script>

<template>
  <section class="ProceedingStatisticsProceedingsByYears">
    <h3>
      {{ $t("components.ProceedingStatisticsProceedingsByYears.headline") }}
    </h3>

    <canvas
      v-show="displayType === 'charts'"
      ref="chart"
      :alt="translate('components.ProceedingStatisticsProceedingsByYears.altTextCanvas')"
    />

    <table v-show="displayType === 'tables'">
      <thead>
        <tr>
          <th id="yearname">
            {{ $t("components.ProceedingStatisticsProceedingsByYears.tableHead.columnYear") }}
          </th>
          <th id="yearproceeding">
            {{ $t("components.ProceedingStatisticsProceedingsByYears.tableHead.columnProceedings") }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(count, year) in proceedingByYears"
          :key="'row-' + year"
        >
          <td headers="yearname">
            {{ year }}
          </td>
          <td headers="yearproceeding">
            {{ count }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<style lang="scss">
@import "../../../scss/_global.scss";

section.ProceedingStatisticsProceedingsByYears {
}
</style>
