<script>
import moment from "moment";

export default {
  name: "ProceedingList",
  data () {
    return {
      sorting: "startdate"
    };
  },
  computed: {
    projects () {
      const projectlist = [...this.$store.getters.projectlist].map(project => {
        const proceedingLink = project.properties.website,
          geoJsonFeature = this.geoJsonFeatures
            ? this.geoJsonFeatures.features?.filter(proceeding => {
              return proceeding.properties.proceeding === project.properties.nameFull
                ? proceeding.geometry.coordinates
                : null;
            })
            : null;

        let link = "";

        if (proceedingLink) {
          if (project.isDipasProceeding) {
            const matches = proceedingLink.match(/^https?:\/\/(.+?)\./);

            link = proceedingLink.replace(new RegExp("/" + matches[1] + "."), "/").replace(/\/#$/, "") + "/" + matches[1] + "/#";
          }

          link = proceedingLink;
        }

        return {
          name: project.properties.nameFull,
          startdate: moment(project.properties.dateStart),
          link,
          coordinates: geoJsonFeature ? geoJsonFeature[0]?.geometry?.coordinates : null
        };
      });

      return projectlist.sort((a, b) => {
        let compareDetail = [a[this.sorting], b[this.sorting]];

        if (this.sorting === "name") {
          compareDetail = compareDetail.map(item => item.toLowerCase());
        }

        const comparative = compareDetail[0] > compareDetail[1] ? 1 : -1;

        return this.sorting === "startdate" ? comparative * -1 : comparative;
      });
    },
    geoJsonFeatures () {
      return JSON.parse(JSON.stringify(this.$store.getters.proceedingGeoJson));
    },
    isFilterActive () {
      return this.$store.getters.isFilterActive;
    }
  },
  created () {
    this.$store.dispatch("projectlist");
  },
  methods: {
    setSorting (property) {
      this.sorting = property;
    },
    openGFI (proceeding, coordinates, projectLink) {

      if (!projectLink) {
        const iframe = document.getElementById("mapIframe").contentWindow,
          baseURL = this.$store.getters.basePath.startsWith("http") ? this.$store.getters.basePath : window.location.origin;

        iframe.postMessage({
          namespace: "MapMarker",
          action: "removePointMarker"
        },
        baseURL);

        iframe.postMessage({
          namespace: "OpenGfiRemotely",
          action: "openGfiRemotely",
          args: {
            coordinates: coordinates,
            layerID: "proceedings",
            featureValue: proceeding,
            matchProperty: "proceeding",
            transformCoordinates: true
          }
        },
        baseURL);
      }
    }
  }
};
</script>

<template>
  <div class="ProceedingList">
    <a
      v-for="(project, index) in projects"
      :key="'project-' + index"
      class="project"
      :class="[
        index % 2 ? 'even' : 'odd',
        !project.link.length ? 'nolink' : ''
      ]"
      :href="project.link ? project.link : null"
      :title="project.name + (!project.link.length ? ' (not online)' : '')"
      target="_blank"
      @click="openGFI(project.name, project.coordinates, project.link)"
    >
      <span class="name">
        {{ project.name }}
      </span>

      <span
        v-if="project.link"
        class="icon icon-link"
      />
    </a>
    <div
      v-if="!projects.length && isFilterActive"
      class="placeholder"
    >
      <p> {{ $t('components.Overview.NoProceedingsPlaceholder') }} </p>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../../scss/_global.scss";

div.ProceedingList {
  max-height: 315px;
  padding-bottom: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;

  a.project {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &.odd {
      background-color: $color_secondary_5;
    }

    &:hover {
      background-color: $color_secondary_4;
    }

    &:focus-visible {
      outline-offset: -3px;
    }

    span {
      display: inline-block;
      white-space: nowrap;
      padding-top: 3px;
      padding-left: 3px;

      &.name {
        font-size: 0.875rem;
        color: $hyperlink;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
      }

      &.icon {
        position: relative;
        top: 3px;
      }
    }
  }

  div.placeholder {
    @extend %fontdefinition_body;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

div.wrapper-xs {
  div.ProceedingList {
    a.project {
      max-width: 89vw;
    }
  }
}
</style>
