<script>
export default {
  name: "ContentPageParagraphAccordeonItem",
  props: {
    content: {
      type: Object,
      default () {
        return {};
      }
    }
  },
  data () {
    return {
      hideTextField: true
    };
  }
};
</script>

<template>
  <div class="ContentPageParagraphAccordeonItem">
    <div
      class="textHeadline"
      tabindex="0"
      role="button"
      :aria-expanded="!hideTextField ? 'true' : 'false'"
      @click="hideTextField = !hideTextField"
      @keyup.enter="hideTextField = !hideTextField"
    >
      <span>{{ content.field_headline }}</span>

      <i
        class="material-icons customIcon"
        aria-hidden="true"
      >{{ hideTextField ? "add" : "remove" }}</i>
    </div>

    <div
      v-if="!hideTextField"
      class="textParagraphContent"
      v-html="content.field_text"
    />
  </div>
</template>

<style lang="scss">
@import "../../../scss/_global.scss";

div.ContentPageParagraphAccordeonItem {
  div.textHeadline {
    display: flex;
    padding: 0.5em;
    margin-top: 10px;
    background-color: $color_secondary_4;
    cursor: pointer;

    span {
      @extend %fontdefinition_headline_2;
      width: 100%;
    }

    i {
      font-size: 1.375rem;
      font-weight: bold;
      color: #E10019;
      width: 30px;
    }
  }

  div.textParagraphContent {
    @extend %fontdefinition_body;
    padding: 10px 0 0 10px;

    a {
      @extend %fontdefinition_link;
    }
  }
}
</style>
