<script>
export default {
  name: "Checkboxes",
  props: {
    options: {
      type: Array,
      required: false,
      default: () => []
    },
    icons: {
      type: Array,
      required: false,
      default: () => []
    },
    initiallySelected: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  emits: ["input"],
  data () {
    return {
      checked: this.initiallySelected ? this.initiallySelected : []
    };
  },
  methods: {
    onChange () {
      this.$emit("input", this.checked);
    },
    getIcon (index) {
      return this.icons[index] ? "background-image: url(" + this.icons[index] + ")" : "";
    }
  }
};
</script>

<template>
  <div>
    <div class="checkbox-form">
      <div class="values">
        <label
          v-for="(option, i) in options"
          :key="i"
          class="item"
        >
          <span
            v-if="icons.length"
            class="icon"
            :style="getIcon(i)"
          >
          </span>

          <span :for="option">{{ option }}</span>

          <input
            :id="option"
            v-model="checked"
            type="checkbox"
            tabindex="0"
            :value="option"
            :initiallySelected="initiallySelected"
            @change="onChange"
          >

          <span class="checkmark" />
        </label>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../scss/_global.scss";

div.checkbox-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.values {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;

    label {
      margin-left: 1em;
    }

    label.item {
      display: block;
      position: relative;
      top: 8px;
      padding-left: 20px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 1em;
      height: 25px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;

      span.icon {
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: contain;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
          ~ {
              .checkmark {
                background-color: transparent;

                &:after {
                    display: block;
                }
              }
            }
          }
        }

      &:hover {
        input {
          ~ {
              .checkmark {
                background-color: none;
              }
            }
        }
      }

      input:focus-visible + span {
        outline: 3px solid #005CA9;
        outline-offset: 5px;
        opacity: 1;
      }

      span.checkmark {
        &:after {
          left: 4px;
          top: 0;
          width: 5px;
          height: 10px;
          border: solid;
          border-color: $color_primary_1;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    span.checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: transparent;
      border: 2px solid;
      border-color: $color_primary_1;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
}
</style>
