/**
 * @license GPL-2.0-or-later
 */

<script>
export default {
  name: "DipasButton",
  props: {
    icon: {
      type: String,
      required: false,
      default: ""
    },
    iconposition: {
      type: String,
      required: false,
      default: "left",
      validator: (value) => ["left", "right"].includes(value)
    },
    label: {
      type: String,
      required: false,
      default: ""
    },
    title: {
      type: String,
      required: false,
      default: (props) => props.label
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    disabledTitle: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {
    titleText () {
      return this.disabled ? this.disabledTitle : null;
    }
  }
};
</script>

<template>
  <button
    class="dipasButton"
    :disabled="disabled"
    :title="disabled ? disabledTitle : title"
    @click="$emit('click')"
    @keyup.enter="$emit('click')"
  >
    <i
      v-if="icon && iconposition === 'left'"
      class="icon left"
      :class="'icon-' + icon"
      aria-hidden="true"
    />

    {{ label }}

    <i
      v-if="icon && iconposition === 'right'"
      class="icon left"
      :class="'icon-' + icon"
      aria-hidden="true"
    />
  </button>
</template>

<style lang="scss">
@import "../scss/_global.scss";

button.dipasButton {
  display: block;
  @extend %fontdefinition_button;
  text-align: center;
  text-overflow: ellipsis;
  color: $white;
  background-color: $color_primary_3;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 5px 10px;

  &:focus-visible {
    outline-offset: -3px;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;
  }

  &.round {
    border-radius: 20px;
    background-color: $color_primary_1;
  }

  i.icon {
    display: inline-block;
    color: $white;
    vertical-align: middle;
    width: 15px;
    position: relative;
    top: 4px;
  }
}
</style>
