<script>
export default {
  name: "FilterButton",
  components: {},
  props: {
    icon: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: "",
      required: true
    },
    count: {
      type: Number,
      required: false,
      default: null
    },
    // Sometimes required for accessibility, See VueDatePicker
    asLink: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data: function () {
    return {};
  },
  computed: {},
  methods: {}
};
</script>

<template lang="html">
  <template v-if="asLink">
    <a
      href="#"
      class="FilterButton"
    >
      <span
        :class="icon"
        aria-hidden="true"
      />

      <span>{{ label }}</span>

      <span v-if="count">({{ count }})</span>
    </a>
  </template>

  <template v-else>
    <div class="FilterButton">
      <span
        class="icon"
        :class="icon"
        aria-hidden="true"
      />

      <span
        class="label"
        :class="{nomargin: count}"
      >
        {{ label }}
      </span>

      <span
        v-if="count"
        class="count"
      >
        ({{ count }})
      </span>
    </div>
  </template>
</template>

<style lang="scss">
@import "../scss/_global.scss";

.FilterButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 2px solid $black;
  min-height: auto;
  padding: 1px 0.5rem;

  [class^="icon-"] {
    width: auto;
    height: auto;
  }

  span {
    color: $black;
    font-weight: bold;

    &.label:not(.nomargin) {
      margin-right: 30px;
    }

    &.count {
      margin-right: 30px;
    }
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
</style>
