<script>
export default {
  name: "FilterPill",
  props: {
    option: {
      type: Object,
      required: true
    }
  },
  methods: {
    remove (option) {
      this.$emit("FilterPillFilterRemoved", option);
    }
  }
};
</script>

<template>
  <div class="FilterPill">
    <button @click="remove(option)">
      <span class="d-flex align-items-center">
        <span>{{ option.name }}</span>
        <span>✕</span>
      </span>
    </button>
  </div>
</template>

<style lang="scss">
@import "../scss/_global.scss";

.FilterPill {

  button {
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
  }

  button > span {
    gap: 0.5rem;
    padding: 0 0.5rem;
  }

  button > span > span {
    color: $white;
    font-size: 0.875rem;
    line-height: 1.5;
  }

}
</style>
