/**
 * @license GPL-2.0-or-later
 */
<script>
import HeaderElement from "./basicComponents/HeaderElement.vue";
import FooterElement from "./basicComponents/FooterElement.vue";
import DipasCookieBanner from "./basicComponents/DipasCookieBanner.vue";

export default {
  name: "App",
  components: {
    HeaderElement,
    FooterElement,
    DipasCookieBanner
  },
  data () {
    return {
      initialized: false,
      isMobile: false
    };
  },
  computed: {
    cookiesAccepted () {
      return this.$store.getters.cookiesAccepted;
    }
  },
  async beforeMount () {
    const html = document.documentElement;
    // eslint-disable-next-line
    html.setAttribute("lang", process.env.VUE_APP_LANG);

    // eslint-disable-next-line
    await this.$store.dispatch("basicConfiguration", process.env.VUE_APP_LANG);
    this.initialized = true;
  },
  mounted () {
    this.isMobile = ["xs", "sm"].indexOf(this.activeMediaBreakpoint) > -1;
  }
};
</script>

<template>
  <div
    ref="App"
    class="participationcockpit"
    :class="'wrapper-' + activeMediaBreakpoint"
  >
    <HeaderElement />

    <main>
      <router-view :key="$route.fullPath" />
    </main>

    <FooterElement v-if="!isMobile" />

    <DipasCookieBanner
      v-if="initialized"
      aria-live="assertive"
    />
  </div>
</template>

<style lang="scss">
@import "@/scss/_global.scss";

div.participationcockpit {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  main {
    background-color: $color_secondary_5;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    > .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

*:focus:not(:focus-visible) {
  outline: none;
}
*:focus-visible {
  outline: 3px solid #005CA9;
}
</style>
