@import "./colors.scss";
@import "./fontdefinitions/roboto.scss";
@import "./fontdefinitions/icons.scss";

// Font usages
$common_font: "Roboto";

%fontdefinition_pagetitle {
  font-family: $common_font;
  font-weight: 700;
  font-size: 1.813rem;
  line-height: 1.2;
  color: $color_primary_1;
}

%fontdefinition_headline_1 {
  font-family: $common_font;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  color: $color_primary_1;
}

%fontdefinition_headline_2 {
  font-family: $common_font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_primary_1;
}

%fontdefinition_contribution_headline {
  font-family: $common_font;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.5;
  color: $color_primary_1;
}

%fontdefinition_comment_headline {
  font-family: $common_font;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $color_primary_1;
}

%fontdefinition_body {
  font-family: $common_font;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $color_secondary_2;
}

%fontdefinition_text {
  font-family: $common_font;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $color_secondary_2;
}

%fontdefinition_button {
  font-family: $common_font;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: $white;
}

%fontdefinition_modul_head {
  font-family: $common_font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  color: $white;
}

%fontdefinition_metaline {
  font-family: $common_font;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $color_secondary_2;
}

%fontdefinition_link {
  font-family: $common_font;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: $color_secondary_1;
}

%fontdefinition_subline {
  font-family: $common_font;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $color_primary_1;
}

%fontdefinition_rubric {
  font-family: $common_font;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1;
  color: $color_secondary_2;
}

* {
  @extend %fontdefinition_body;

  h1 {
    @extend %fontdefinition_headline_1;
  }

  h2 {
    @extend %fontdefinition_headline_2;
  }

  a {
    @extend %fontdefinition_link;
  }
}


